#
# K2HASH PHP Extension library
#
# Copyright 2015 Yahoo Japan Corporation.
#
# K2HASH is key-valuew store base libraries.
# K2HASH is made for the purpose of the construction of
# original KVS system and the offer of the library.
# The characteristic is this KVS library which Key can
# layer. And can support multi-processing and multi-thread,
# and is provided safely as available KVS.
#
# For the full copyright and license information, please view
# the LICENSE file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Tue, Feb 22 2022
# REVISION:
#

#
# Wildcards
#
*.dep
*.o
*.lo
*.a
*.la
*.so
*.gcno
*.gcda
*.rpm
*.deb
.*~

#
# Autotools Files
#
acinclude.m4
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.nice
config.status
config.sub
configure
configure.in
configure.ac
install-sh
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
build
include
libtool

#
# Created by configure
#
buildutils/k2hash.ini
buildutils/php-pecl-k2hash.spec
buildutils/control
buildutils/control.in
buildutils/copyright
buildutils/rules
buildutils/watch
buildutils/upstream/metadata
buildutils/APKBUILD.templ

#
# Directries
#
.libs
.deps
mkinstalldirs
modules
packages
packages/*

#
# Files and Directories for packaging
#
run-tests.php
php-pecl-k2hash.spec
rpmbuild/
rpmbuild/*
debian_build/
debian_build/*

#
# Test files
#
tmp-php.ini
tests/*.diff
tests/*.out
tests/*.php
tests/*.exp
tests/*.log
tests/*.sh

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
